extends layout
block extra-scripts
    script(src = "http://localhost:9000/homePage.bundle.js")

block content
    #bodyDiv(style="background-image:url('/bg.jpg');height:100%;width:100%;min-height:1080px;min-width:1000px;background-size:100% 100%;background-position:center 0;background-repeat:no-repeat;padding:0px;")
        #titleDiv(style="height:300px;width:100%;text-align:center")
            b#titleLabel(style="font-size:100px;margin-top:100px;-webkit-text-stroke-color:Grey;-webkit-text-stroke-width:1px;color:#fff;text-shadow: Grey 5px 2px 3px;position:relative;top:30%") Clairvoyance
            .row#deviceIDRow(style="margin-top:100px")
                .col-lg-3
                .col-lg-3(style="height:75px")
                    b#deviceIDLabel(style="font-size:35px;-webkit-text-stroke-color:Grey;-webkit-text-stroke-width:2px;color:#fff;") Device ID
                .col-lg-3(style="height:75px") 
                    input#deviceIDTF(type="text",style="height:45px;background-color:#DDD;font-size:30px;border-radius:10px", disabled="disabled", value="  H001") 
                .col-lg-3
            .row#timeStampRow(style="margin-top:20px")
                .col-lg-3
                .col-lg-3(style="height:75px")
                    b#timeStampLabel(style="font-size:35px;-webkit-text-stroke-color:Grey;-webkit-text-stroke-width:2px;color:#fff;") Time Stamp
                .col-lg-3(style="height:75px") 
                    input#timeStampTF(type="text",style="height:45px;background-color:#DDD;font-size:30px;border-radius:10px", disabled="disabled") 
                .col-lg-3
            .row#real-timeReadingRow(style="margin-top:20px")
                .col-lg-3
                .col-lg-3(style="height:75px")
                    b#real-timeReadingLabel(style="font-size:35px;-webkit-text-stroke-color:Grey;-webkit-text-stroke-width:2px;color:#fff;") Real-time Reading
                .col-lg-3(style="height:75px") 
                    input#real-timeReadingTF(type="text",style="height:45px;background-color:#DDD;font-size:30px;border-radius:10px", disabled="disabled") 
                .col-lg-3
            .row#buttonRow(style="margin-top:100px")
                button.btn.btn-lg.btn-default#refreshButton Refresh