doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width initial-scale=1.0")
        meta(name="author", content="Evan Huang")
        block extra-styles
        block extra-scripts
        title= title
    body
        .container-fluid(style="padding:0px")
            .content-block
                block content
